






<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		
		
		
		
		<!-- <img class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/f2.png" /> -->
		
		
		<% include ../_common/templates/_ribbon %>

		<% include ../_common/templates/_logo %>
		

		

		<img class="retina legal" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />

		
		<% include ../_common/templates/_t1 %>
		
		<% include ../_common/templates/_t2 %>


		<!-- <img class="retina beer" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/beer.png" /> -->


	</div>

	

	
	
	
	
</div>