<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		
		<!-- <img class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/f2.png" /> -->
		
		<div class="retina ribbon">
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/ribbon.png" />
			<img class="white" src="../_common/images/<%= width %>x<%= height %>/ribbon_.png" />
			<img class="blue" src="../_common/images/<%= width %>x<%= height %>/ribbon__.png" />
			<img class="end" src="../_common/images/<%= width %>x<%= height %>/ribbon___.png" />			
		</div>



		<div class="retina nba">
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/nba.png" />
			<img class="white" src="../_common/images/<%= width %>x<%= height %>/nba_.png" />
			<img class="blue" src="../_common/images/<%= width %>x<%= height %>/nba__.png" />
			<img class="end" src="../_common/images/<%= width %>x<%= height %>/nba.png" />
		</div>

		<div class="retina logo">
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/logo.png" />
			<img class="white" src="../_common/images/<%= width %>x<%= height %>/logo_.png" />
			<img class="blue" src="../_common/images/<%= width %>x<%= height %>/logo__.png" />
			<img class="end" src="../_common/images/<%= width %>x<%= height %>/logo.png" />
		</div>

		<div class="retina legal">
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />
			<img class="white" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal_w.png" />
			<img class="blue" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />
			<img class="end" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />
			
		</div>


		<img class="retina hoop" src="../_common/images/<%= width %>x<%= height %>/hoop.png" />
		

		<% include ../_common/templates/_t1 %>
		
		




		

		<img class="retina ball" src="../_common/images/<%= width %>x<%= height %>/ball.png" />
		<img class="retina hoop" src="../_common/images/<%= width %>x<%= height %>/hoop_front.png" />
		<img class="retina t3" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t3.png" />
		
		<% include ../_common/templates/_t2 %>


		<img class="retina beer" src="../_common/images/<%= width %>x<%= height %>/beer.png" />

		<img class="retina o" src="../_common/images/<%= width %>x<%= height %>/o.png" />

	</div>

	

	
	
	
	
</div>