<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		


		<% include ../_common/templates/_ribbon %>
		<% include ../_common/templates/_logo %>


		<img class="retina hoop" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/hoop.png" />
		

		<% include ../_common/templates/_t1 %>
		
		




		

		
		<!-- <img class="retina hoop" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/hoop_front.png" /> -->

		
		<% include ../_common/templates/_t2 %>


		<!-- <img class="retina beer" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/beer.png" /> -->

		<img class="retina ball" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ball.png" />

	</div>

	

	
	
	
	
</div>