<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		
		<!-- <img class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/f2.png" /> -->

		<% include ../_common/templates/_ribbon %>
		<% include ../_common/templates/_logo %>


		
		

		<% include ../_common/templates/_t1 %>
		
		




		

		
		

		
		<% include ../_common/templates/_t2 %>


		<img class="retina beer" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/beer.png" />

		<img class="retina legal" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />

		<img class="retina hoop" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/hoop.png" />

		<img class="retina ball" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ball.png" />


		<div class="retina legal">
			<img class="w" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal_w.png" />
			<img class="b" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />
		</div>



	</div>

	

	
	
	
	
</div>