<div class="retina logo">
			<img class="w" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo_w.png" />
			<img class="b" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo_b.png" />
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo.png" />			
		</div>