<div class="retina ribbon">
	<img class="w" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon_w.png" />
	<img class="b" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon_b.png" />
	<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon_r.png" />
</div>