






<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		
		<!-- <img class="retina f1" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/f2.png" /> -->
		
		
		<img class="retina legal" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />
		
		




		<div class="retina ribbon">
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon.png" />
			<img class="white" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon_.png" />
			<img class="blue" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon__.png" />
			<img class="end" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon___.png" />
			
		</div>



		<div class="retina nba">
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/nba.png" />
			<img class="white" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/nba_.png" />
			<img class="blue" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/nba__.png" />
			<img class="end" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/nba.png" />
		</div>

		<div class="retina logo">
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo.png" />
			<img class="white" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo_.png" />
			<img class="blue" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo__.png" />
			<img class="end" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo.png" />
		</div>

		<div class="retina legal">
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />
			<img class="white" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal_.png" />
			<img class="blue" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />
			<img class="end" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />
			
		</div>


		<img class="retina hoop" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/hoop.png" />
		

		<img class="retina t1" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t1.png" />

		<img class="retina ball" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ball.png" />
		<img class="retina hoop" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/hoop_front.png" />

		<img class="retina t2" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t2.png" />
		<img class="retina beer" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/beer.png" />

		<img class="retina o" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/o.png" />

	</div>

	

	
	
	
	
</div>