






<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		
		
		
		
		<!-- <img class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/f2.png" /> -->
		
		
		<div class="retina ribbon">
			<img class="w" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon_w.png" />
			<img class="b" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon_b.png" />
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/ribbon_r.png" />
		</div>
		

		<div class="retina logo">
			<img class="w" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo_w.png" />
			<img class="b" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo_b.png" />
			<img class="og" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/logo.png" />			
		</div>

		<img class="retina legal" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/legal.png" />

		

		<div class="flip-card-container t1">
			<div class="flip-card">

				<div class="item flip-card-front">
					<!-- <img class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t1.png" /> -->
				</div>

				<div class="item flip-card-back">
					<img id="t1"  class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t1.png" />
				</div>

			</div>
		</div>
		
		<div class="flip-card-container t2">
			<div class="flip-card">

				<div class="item flip-card-front">
					<!-- <img class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t2.png" />	 -->
				</div>

				<div class="item flip-card-back">
					<img id="t2" class="retina" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t2.png" />			
				</div>

			</div>
		</div>


		<img class="retina beer" src="../_common/images/<%= width %>x<%= height %>/<%= name %>/beer.png" />


	</div>

	

	
	
	
	
</div>